amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
beautifulsoup4==4.6.1
billiard==3.3.0.23
celery==3.1.24
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
cryptography-vectors==2.3
Django==2.0.5
django-celery==3.2.2
future==0.16.0
idna==2.7
kombu==3.0.37
lxml==4.2.4
psycopg2==2.7.5
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2018.5
requests==2.19.1
simplejson==3.16.0
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
vine==1.1.4
win-inet-pton==1.0.1
wincertstore==0.2
